<!-- Newsletter Centered -->
<footer>
  <div class="wrap row small-up-1 medium-up-2">
    <!-- Copyright -->
    <div class="column site-footer_block">
      <!-- Optional Line -->
      <!-- {% include foot_line.html %} -->
      <a>all rights reserved 2019 © williamdunstanmorris</a>
    </div>
    <!-- Social Media -->
    <div class="column site-footer_block">
      <!-- {% include foot_line.html %} -->
      <!-- TODO: Relevant ruby loop for iteration of a social media types here? -->
      <a href="#" class="fa fa-facebook fa-2x"></a>
      <a href="#" class="fa fa-instagram fa-2x"></a>
      <a href="#" class="fa fa-at fa-2x"></a>
    </div>
  </div>
</footer>
