<div class="filters-mobile">
	<div class="row">
					<div class="small-12 medium-6 medium-offset-6 column">
				<ul class="nav-right">
																	<li><a class="filter" data-filter="urbanisme" data-archive="https://a-rr.ch/categorie-de-projet/urbanisme/" href="https://a-rr.ch/#urbanisme"><span>urbanisme</span></a></li>
																	<li><a class="filter" data-filter="architecture" data-archive="https://a-rr.ch/categorie-de-projet/architecture/" href="https://a-rr.ch/#architecture"><span>architecture</span></a></li>
																	<li><a class="filter" data-filter="design-dinterieur" data-archive="https://a-rr.ch/categorie-de-projet/design-dinterieur/" href="https://a-rr.ch/#design-dinterieur"><span>design d’intérieur</span></a></li>
									</ul>
			</div>
			</div>
</div>
