<nav class="main-nav">
  <div class="row">
    <div class="nav-column-left">
      <a class="logo-left" href="{{ site.url }}">
        <span class="site-title">{{ site.title }}</span>
      </a>
      <span class="site-description" style="opacity: 0.5;">{{ site.description }}</span>
    </div>
    <div class="nav-column-right">
      <ul class="nav-right">
        {% for page in site.pages %} {% if page.title != null %} {% if page.show-in-navbar == true %} {%- if page.title == 'about' -%}
        <li>
          <a class="filter" href="{{site.url}}/{{ page.url }}">
                <span>{{ page.title }}</span>
              </a>
        </li>
        {%- else -%}
        <li>
          <a class="filter" data-filter="{{page.categories}}" data-archive="{{site.url}}/archive-tag/{{ page.title }}" href="{{site.url}}/#{{ page.title }}">
            <span>{{ page.title }}</span>
          </a>
        </li>
        {% endif %} {% endif %} {% endif %} {% endfor %}
      </ul>
    </div>
    <div class="menu-trigger">
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </div>
    <div class="mobile-links">
      <div class="mobile-links-inner-wrapper">
        <ul>
          <li id="menu-item-129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-129"><a href="/assets/downloads/william-dunstan-morris-cv.pdf" target="_blank">cv</a></li>
          <li id="menu-item-146" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-146"><a href="mailto:williamdunstanmorris@gmail.com">email</a></li>
          <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a href="https://github.com/williamdunstanmorris" target="_blank">github</a></li>
          <li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a href="https://soundcloud.com/" target="_blank">soundcloud</a></li>
          <li id="menu-item-144" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-144"><a href="https://www.instagram.com/its_dizzylo/" target="_blank">instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
  <!-- <div class="project-container-dim"></div> -->
</nav>
