<!--Center Left Design -->

<div class="container project-container">
  <div class="container-inner-wrapper photos-container row">
    <div class="small-12 medium-6 large-7 column">
      <div class="text-content content-left">
        <h2>{{page.categories}}</h2>
        <h3 style="margin-bottom: 0px; margin-top: 0px;">{{page.date}}</h3>
        <h1>{{page.title}}</h1>
      </div>
      <div class="gallery-wrapper" data-pswp-uid="1">
        <div class="image-wrapper text-content js-toc-content" id="post .js-toc-content">
          {{page.content}}
        </div>
      </div>
    </div>
  </div>
</div>
