
<script type="text/javascript" src="{{ site.github.url }}/assets/js/isotope.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/js/gallery.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/js/outdatedbrowser.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/js/project.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/js/jquery.lazy.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/js/navigation.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/js/skip-link-focus-fix.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/js/jquery.waitforimages.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/js/TweenMax.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/js/jquery.lazy.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/js/mobile-detect.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/js/site.js"></script>
