<!-- Fixed menu on the sidebar representing a menu that can either be sidebar-wrapped-fixed or sidebar-wrapper-static (absolute) -->
<div>
  <div class="row">
    <div class="columns large-6 medium-6 small-12">
      <div class="navigation-wrapper" id="navigation-wrapper">
        <div id="tagline">
        <p style="font-style: italic"> devops engineering and site-reliability consultancy</p>
        </div>

        <div class="typewriter-wrapper">
          <div id="typewriter">
          </div>
        </div>

        <div class="desc">
          <p>Creative and affable Engineer, I can help you build your IT infrastructure from the ground up, provide insight on operations architecture or advise your business on how you can move into the cloud. I come from a commercial background hands-on experience working in Linux/Unix environments, supporting, automating, and optimising development and deployments in software, leveraging configuration management for CI/CD. Hold an MSc in Computer Science from the University of York.</p>
        </div>

      <div class="menu sidebar">
        <ul style="display: initial;">
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-129" target="_blank"><a href="/assets/downloads/william-dunstan-morris-cv.pdf">cv</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-146"><a href="mailto:williamdunstanmorris@gmail.com">email</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40" target="_blank"><a href="https://github.com/williamdunstanmorris">github</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-144" target="_blank"><a href="https://soundcloud.com/">soundcloud</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-141" target="_blank"><a href="https://www.instagram.com/its_dizzylo/">instagram</a></li>
        </ul>
      </div>
    </div>

    </div>

    <div class="columns large-6 medium-6 small-12">
      <div class="landing-portrait"></div>
    </div>
  </div>
</div>
