html,body {
    font-size: 16px;
    height: 100%;
    font-size: calc(10px + 0.4vw);
    background: #fff;
    color: #515151;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 33.9999961853027px;
    text-transform: none;
    color: #000000;
}

.container.row,.container {
    min-height: 100%;
    margin-bottom: -5em
}

.container.row:after,.container:after {
    content: "";
    display: block;
    height: 5em
}

.row {
    width: 90.625em;
    margin: 0 auto;
    max-width: 90%
}

.row .row {
    max-width: 100%
}

.container-inner-wrapper {
    padding-left: 15%;
    padding-top: 11.25em;
    padding-bottom: 6.25em
}

.projects-grid {
    margin-top: -1.25em;
    margin-left: -1.25em;
    margin-right: -1.25em
}

.project-item {
    width: 25%;
    float: left;
    position: relative;
    text-decoration: none;
    display: block;
    color: #000
}

.project-item:after {
    content: "";
    display: block;
    padding-top: 100%
}

.project-item .inner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.25em;
    display: -ms-flexbox;
    display: flex
}

.project-item img {
    max-height: 100%;
    margin: 0 auto;
    display: block;
    -ms-flex-item-align: center;
    align-self: center;
    opacity: 0;
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    transition: 0.5s;
    backface-visibility: hidden
}

.project-item img.loaded {
    opacity: 1;
    -ms-transform: translateY(0px);
    transform: translateY(0px)
}

.project-item .content-wrapper {
    width: auto;
    position: relative;
    margin: auto
}

.project-item .project-name {
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: .9375em;
    font-weight: 700;
    line-height: 1em;
    opacity: 0;
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    transition: all 0s 0s, transform 0.5s, opacity 0.5s
}

.project-item .vertical-image {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: .9375em;
    font-weight: 700;
    line-height: 1em;
    opacity: 0;
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    transition: all 0s 0s, transform 0.5s, opacity 0.5s
}

.project-item .svg-rect{
  width: 100%;
  height: 100%;
}

.project-item:hover img.loaded+.project-name {
    opacity: 1;
    -ms-transform: none;
    transform: none
}

.project-item.archives-link .inner-wrapper:before,.project-item.archives-link .inner-wrapper:after {
    content: "";
    width: 3.875em;
    height: 4px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -1.9375em
}

.project-item.archives-link .inner-wrapper:after {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.filter {
    transition: 0.5s
}

.filter.inactive {
    color: #d6d6d6
}

.filter.highlight {
    color: #d6d6d6
}

.filter.last-filter {
    margin-bottom: 5em
}

.close-icon {
    position: absolute;
    width: 3.75em;
    height: 3.75em;
    border: 1px solid red
}

.close-icon:before,.close-icon:after {
    content: "";
    position: absolute;
    width: 1.625em;
    height: 4px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%
}

.close-icon:before {
    margin-top: -2px;
    margin-left: -.8125em;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.close-icon:after {
    margin-top: -2px;
    margin-left: -.8125em;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

[data-icon]:before {
    font-family: "arr" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class^="icon-"]:before,[class*=" icon-"]:before {
    font-family: "arr" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-instagram:before {
    content: "\61"
}

.icon-facebook:before {
    content: "\62"
}

.icon-linkedin:before {
    content: "\63"
}

.splash-overlay {
    background: #fff;
    /* color:white; */
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.splash-overlay span {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 15.625em;
    text-align: center;
    font-size: 6em;

}

@media screen and (max-width: 640px) {
    .splash-overlay img {
        width:7.5em
    }
}

.logos-grid .column {
    text-align: center
}

.logos-grid .column img {
    max-width: 70%;
    display: inline-block;
    vertical-align: top;
    backface-visibility: hidden
}

.client-title {
    margin: 0;
    font-size: 1.5em;
    padding-bottom: 3.125em
}

.post-type-archive-arr-client .single-page-container .container-inner-wrapper {
    padding-left: 15%;
    margin-top: -3.125em
}

@media screen and (max-width: 640px) {

    #toc-scroll .excerpt {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .client-title {
        font-size:.875em;
        padding-bottom: 2.85714em
    }

    .post-type-archive-arr-client .single-page-container .container-inner-wrapper {
        padding-left: 0;
        margin-top: 0
    }

    .logos-grid .column {
        text-align: center
    }

    .logos-grid .column img {
        display: inline-block;
        vertical-align: middle;
        max-width: 75%
    }
}

.project-container .container-inner-wrapper {
    padding-left: 0;
    padding-top: 9.5625em
}

.project-container-dim {
	height: 140px;
  position:fixed;
  top: 0;
  width:100%;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(95%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
  background: linear-gradient(to top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}


.highlight pre {

  /* margin-top: 52px; */
  /* font-family: Menlo,Monaco,"Courier New",Courier,monospace; */
  color: #eceff1;
  font-size: 14px;
  background: #263238;
  /* padding: 20px; */
  white-space: pre-wrap;
}


.project-container .text-content {
  font-size: 1.05em;
  line-height: 1.5em;
  padding-right: 25%;
}

.project-container .gallery-wrapper .text-content h2 {
    /* font-size: 16px; */
    /* margin: 0; */
    /* margin-bottom: .9375em; */
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    /* line-height: 68px; */
    text-transform: none;
    color: #000000;
    /* margin-top: 20px; */
}

.project-container .text-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 68px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: normal;
    text-transform: none;
    color: #000000;
    margin-top: 20px;
}

.project-container .text-content h1 {
    /* font-size: 1.5em; */
    /* margin: 0; */
    /* margin-bottom: 1.66667em; */
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.39999997615814px;
    /* line-height: 17px; */
    text-transform: uppercase;
}

.project-container .gallery-wrapper .text-content h1 {
    /* font-size: 1.5em; */
    /* margin: 0; */
    /* margin-bottom: 1.66667em; */
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.39999997615814px;
    text-transform: uppercase;
    background-color: gainsboro;}

.project-container .text-content p {
    margin-top: 0
}

.project-container .text-content blockquote p {
    margin-top: 0;
    font-style: italic;
    background-color: gainsboro;
}

.project-container .text-content a {
    color: inherit
}

.project-container .text-content .read-more-link {
    display: none
}

.project-container .text-content .download-link {
    margin-top: 1.11111em
}

.project-container .mobile-hero-photo {
    display: none
}

.download-link,.read-more-link {
    text-decoration: underline;
    color: #000;
    display: inline-block;
    vertical-align: top;
    padding-left: 1.38889em;
    font-size: 1.125em;
    position: relative
}

.download-link:before,.read-more-link:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 0;
    border-top: 7px solid #000;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent
}

.project-description-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateZ(0)
}

.gallery-wrapper {
    margin: -1.25em;
}

.gallery-wrapper .image-wrapper {
    padding: 1.25em;
    position: relative;
    display: block;
    text-decoration: none;
    width: 100%;
    margin: 0;
}

.gallery-wrapper .image-wrapper img {
    width: 100%;
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    transition: 0.5s;
    backface-visibility: hidden
}

.gallery-wrapper .image-wrapper img.loaded {
    opacity: 1;
    -ms-transform: translateY(0px);
    transform: translateY(0px)
}

.gallery-wrapper .image-wrapper:focus {
    outline: none
}

.gallery-wrapper .grid .column:first-of-type {
    width: 60%;
    float: left
}

.gallery-wrapper .grid .column:last-of-type {
    width: 40%;
    float: left
}

.gallery-wrapper .image-wrapper .overlay {
    position: relative;
    transition: 0.5s
}

.gallery-wrapper .image-wrapper.popup-open img {
    -ms-flex-item-align: center;
    align-self: center;
    max-height: 90vh;
    max-width: 100%;
    margin: auto
}

.gallery-wrapper .image-wrapper.popup-open .overlay {
    background: #fff
}

.gallery-wrapper .image-wrapper.popup-open .overlay .inner-content {
    max-width: 90%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}

.project-images-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -1.25em
}

.project-photo {
    width: 100%
}

.project-photo.half {
    width: 50%
}

.pswp__button:before,.pswp__button:after {
    content: ""
}

.pswp__button {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 1050
}

.pswp__button:focus {
    outline: none
}

.pswp__button:before,.pswp__button:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 20px;
    background: #000;
    border: 0;
    margin: 0
}

.pswp__button--arrow--left {
    left: 0;
    transition: 0.5s
}

.pswp__button--arrow--left:before {
    top: 50%;
    left: 1.25em;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform-origin: top left;
    transform-origin: top left;
    margin-bottom: -3px
}

.pswp__button--arrow--left:after {
    top: 50%;
    left: 1.25em;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    margin-top: -3px
}

.pswp__button--arrow--right {
    right: 0;
    transition: 0.5s
}

.pswp__button--arrow--right:before {
    top: 50%;
    right: 1.25em;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform-origin: top right;
    transform-origin: top right;
    margin-bottom: -3px
}

.pswp__button--arrow--right:after {
    top: 50%;
    right: 1.25em;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    margin-top: -3px
}

.pswp__img--placeholder--blank {
    background: #fff
}

@media screen and (max-width: 1200px) {
    .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
        margin-left:0;
        left: auto;
        right: 0;
        bottom: auto;
        top: 0
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .project-container .text-content {
        padding-right:10%
    }

    #toc-scroll {
        position: fixed;
        /* width: 250px; */
        height: 100vh;
        /* overflow-y: scroll; */
    }
}

@media screen and (max-width: 640px) {
    .project-container .mobile-hero-photo {
        display:block;
        margin-bottom: .9375em;
        width: 100%
    }

    .project-container .text-content {
        padding-right: 0;
        font-size: .875em;
        line-height: 1.42857em
    }

    .project-container .text-content h2 {
        font-size: 3em;
        line-height: 1.58333em;
        margin-bottom: 0;
        margin-top: 0px;
    }

    .project-container .text-content h1 {
        font-size: 1em;
        line-height: 1.21429em;
        margin-bottom: 1.21429em
    }

    .project-container .text-content .additional-text .inner-wrapper {
        display: none
    }

    .project-container .text-content .additional-text .read-more-link {
        font-size: 1em;
        display: block
    }

    .project-container .container-inner-wrapper {
        padding-top: 1.25em;
        padding-bottom: .625em
    }

    .project-container .container-inner-wrapper.photos-container {
        padding-top: 0
    }

    .project-container .additional-text .inner-wrapper {
        -ms-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
        transition: all 0s 0s, transform 0.3s, opacity 0.3s
    }

    .project-container .additional-text .inner-wrapper.open {
        -ms-transform: none;
        transform: none;
        opacity: 1
    }

    .project-description-container {
        position: static
    }

    .download-link {
        font-size: 1em
    }

    .gallery-wrapper {
        margin: 0 -.625em;
        margin-left: 0;
        margin-right: 0
    }

    .gallery-wrapper .image-wrapper:first-of-type {
        padding: .625em;
        padding-left: 0;
        padding-right: 0;
        /* display: none */
    }

    .gallery-wrapper .image-wrapper {
        padding-left: 0;
        padding-right: 0
    }

    .gallery-wrapper .grid .image-wrapper {
        display: block
    }

    .gallery-wrapper .grid .column:first-of-type {
        width: 100%;
        float: none
    }

    .gallery-wrapper .grid .column:last-of-type {
        width: 100%
    }

    .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
        width: 1.78571em;
        height: 1.78571em;
        padding-right: 0
    }

    .mfp-zoom-out-cur .mfp-image-holder .mfp-close:before,.mfp-zoom-out-cur .mfp-image-holder .mfp-close:after {
        height: 2px;
        width: 20px;
        margin-left: -5px
    }

    .mfp-arrow-left {
        width: 3.125em;
        height: 3.125em;
        top: 50%;
        left: 0;
        margin-top: -1.5625em
    }

    .mfp-arrow-left:before,.mfp-arrow-left:after {
        left: 1.25em;
        height: 2px;
        width: 14px
    }

    .mfp-arrow-left:before {
        margin-bottom: -1px
    }

    .mfp-arrow-left:after {
        margin-top: -1px
    }

    .mfp-arrow-right {
        width: 3.125em;
        height: 3.125em;
        top: 50%;
        right: 0;
        margin-top: -1.5625em
    }

    .mfp-arrow-right:before,.mfp-arrow-right:after {
        right: 1.25em;
        height: 2px;
        width: 14px
    }

    .mfp-arrow-right:before {
        margin-bottom: -1px
    }

    .mfp-arrow-right:after {
        margin-top: -1px
    }
}

.careers-container .container-inner-wrapper {
    padding-left: 0
}

.career-item {
    position: relative
}

.career-item:not(:last-of-type) {
    margin-bottom: 3.125em
}

.career-item:after {
    content: "";
    width: 6.0625em;
    height: 4px;
    background: #000;
    position: absolute;
    right: 100%;
    top: 2em;
    top: .375em;
    margin-right: 2.5em
}

@media screen and (max-width: 640px) {
    .career-item {
        padding-left:3.75em
    }

    .career-item:not(:last-of-type) {
        margin-bottom: 1.5625em
    }

    .career-item:after {
        left: 0;
        top: 1.6875em;
        height: 2px;
        width: 3.125em
    }
}

nav {
    position: fixed;
    transform: translateZ(0);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff
}

nav .row {
    padding-top: 2em;
    padding-bottom: 1.875em;
    position: relative
}

nav .nav-column-left {
    width: 50%;
    float: left
}

nav .nav-column-right {
    width: 50%;
    float: right
}

nav .logo-left {
    /* display: inline-block; */
    vertical-align: top;
    width: 6.25em;
    text-decoration: none;
    color: #000000;
}

.site-title {
   font-size: 40px;
   font-weight: bold;
   color: inherit;
   line-height: 1em;
   font-family: Lato, sans-serif;
   font-weight: bold;
   letter-spacing: 1.39999997615814px;
}



nav .mobile-links {
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: all 0s 0.3s
}

nav .mobile-links .mobile-links-inner-wrapper {
    padding: 1.25em 5%;
    padding-top: 10.375em;
    background: #fff;
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: 0.5s
}

nav .mobile-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
}

nav .mobile-links li {
    font-size: .875em;
    line-height: 1em;
    text-decoration: none;
    color: #000;
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    transition: 0.3s
}

nav .mobile-links li a {
    color: #000;
    text-decoration: none;
    position: relative
}

nav .mobile-links li a:after {
    content: "";
    position: absolute;
    left: 0;
    top: -50%;
    width: 100%;
    height: 200%
}

nav .mobile-links li:not(:last-of-type) {
    margin-bottom: 1.78571em
}

nav .mobile-links.open {
    left: 0;
    transition: all 0s 0s
}

nav .mobile-links.open .mobile-links-inner-wrapper {
    -ms-transform: translateY(0);
    transform: translateY(0)
}

nav .mobile-links.open li {
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    transition: all 0s 0s, transform 0.3s 0s, opacity 0.5s 0s
}

nav .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    z-index: -2;
    transition: all 0s 0.3s, opacity 0.3s 0s
}

nav .mobile-links.open+.overlay {
    left: 0;
    opacity: 1;
    transition: all 0s 0s, opacity 0.3s
}

body.windows-os .nav-right:after {
    margin-top: 0px
}

.sidebar-wrapper {
    position: fixed;
    transform: translateZ(0);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3
}

.sidebar-wrapper .row {
    position: relative;
    top: 20px;
}

.filters-mobile {
    display: none
}

.nav-right {
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
    padding-top: .625em;
    margin-top: -.625em;
    padding-bottom: .625em;
    margin-bottom: -.625em;
    position: relative;
    overflow: hidden
}

.nav-right:after {
    content: "";
    height: 3px;
    background: #515151;
    position: absolute;
    width: 1000px;
    top: 50%;
    margin-top: -2px;
    left: 0;
    transition: 0.5s
}

.nav-right li {
    display: inline-block;
    vertical-align: top;
    font-size: 1.625em;
    line-height: 1em
}

.nav-right li:first-of-type {
    float: left;
    margin-left: -.38462em
}

.nav-right li:last-of-type {
    float: right;
    margin-right: -.38462em
}

.nav-right li a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    font-weight: bold
}

.nav-right li a span {
    position: relative;
    display: block;
    line-height: 1em;
    z-index: 2;
    background: #fff;
    padding-left: .38462em;
    padding-right: .38462em;
    font-family: Lato, sans-serif;
    font-weight: bold;
    letter-spacing: 1.39999997615814px;
}

.nav-right.filtered-on-hover:after {
    background: #d6d6d6
}

.nav-right.filtering-active:after {
    background: #d6d6d6
}

.sidebar {
    padding-top: 11em;
    padding-bottom: 1.875em;
    width: 15%;
    position: absolute;
    overflow: hidden;
    height: 100%;
    height: 100vh;
    left: 0;
    top: 1.5em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    top: 0
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.sidebar ul li {
    font-size: 1em;
    line-height: 1em;
    color: #515151;
    /* font-weight: 700; */
    width: 100%;
    -ms-flex-negative: 1;
    flex-shrink: 1
}

.sidebar ul li.last-filter {
    margin-bottom: 6.25em;
    margin-bottom: 5vh
}

.sidebar ul li a {
    text-decoration: none;
    color: inherit;
    position: relative
}

.sidebar ul li a.filter {
    padding-right: .9375em
}

.sidebar ul li a.filter:before,.sidebar ul li a.filter:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background: #000;
    right: 0%;
    top: 50%;
    opacity: 0;
    transition: 0.5s;
    backface-visibility: hidden
}

.sidebar ul li a.filter:before {
    -ms-transform: rotate(45deg) scaleX(0);
    transform: rotate(45deg) scaleX(0)
}

.sidebar ul li a.filter:after {
    -ms-transform: rotate(-45deg) scaleX(0);
    transform: rotate(-45deg) scaleX(0)
}

.sidebar ul li a.filter.active:before,.sidebar ul li a.filter.active:after {
    opacity: 1
}

.sidebar ul li a.filter.active:before {
    -ms-transform: rotate(45deg) scaleX(1);
    transform: rotate(45deg) scaleX(1)
}

.sidebar ul li a.filter.active:after {
    -ms-transform: rotate(-45deg) scaleX(1);
    transform: rotate(-45deg) scaleX(1)
}

.sidebar ul li:last-of-type,.sidebar ul li:nth-last-of-type(2),.sidebar ul li:nth-last-of-type(3),.sidebar ul li:nth-last-of-type(4),.sidebar ul li:nth-last-of-type(5) {
    -ms-flex-item-align: end;
    align-self: flex-end
}

/* *, :after, :before {
    box-sizing: inherit;
} */

.menu-trigger {
    display: none;
    width: 1.4375em;
    height: .875em;
    top: 50%;
    margin-top: -.4375em;
    position: absolute;
    right: 0
}

.menu-trigger:before {
    content: "";
    position: absolute;
    top: -150%;
    left: -100%;
    width: 300%;
    height: 400%
}

.menu-trigger .line {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: #000;
    transition: 0.3s
}

.menu-trigger .line.line-1 {
    transition: all 0.3s 0.3s, transform 0.3s 0s
}

.menu-trigger .line.line-2 {
    top: 50%;
    margin-top: -1px;
    left: 0;
    transition: all 0.3s 0.3s
}

.menu-trigger .line.line-3 {
    bottom: 0;
    top: auto;
    left: 0;
    transition: all 0.3s 0.3s, transform 0.3s 0s
}

.menu-trigger.active .line-1 {
    top: 50%;
    margin-top: -1px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.3s, transform 0.3s 0.3s
}

.menu-trigger.active .line-2 {
    opacity: 0;
    transition: all 0.3s, opacity 0.3s 0s
}

.menu-trigger.active .line-3 {
    bottom: 50%;
    margin-bottom: -1px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all 0.3s, transform 0.3s 0.3s
}

@media screen and (min-width: 64em) {
    nav .nav-column-left {
        width:40%
    }

    nav .nav-column-right {
        width: 58.33333%
    }

    .site-description {
      display:block;
      line-height: 17px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1025px) {
    nav .nav-column-left {
        width:35%
    }

    nav .nav-column-right {
        width: 65%
    }

    .sidebar {
        width: 20%
    }

    .site-description {
      display:none;
      line-height: 17px;
      padding-top: 0.4em;
    }

    .sidebar ul li.last-filter {
        margin-bottom: 8vh
    }
}

@media screen and (max-width: 950px) {
  .site-title {
    display: table-caption;
  }
}

@media screen and (max-height: 700px) {
    .sidebar ul li {
        font-size:1.0625em
    }
}

@media screen and (max-width: 640px) {
    nav {
        -ms-transform:none;
        transform: none
    }

    nav .logo-left {
        width: 3.125em;
        position: relative
        color: #0a0a0a;
        text-decoration: none;
    }


    .site-description {
      display:none;
    }

    nav .logo-left:after {
        content: "";
        position: absolute;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 100%
    }

    nav .row {
      padding-top: 2em;
      padding-bottom: 1.875em;
    }

    nav .nav-right {
        display: none
    }

    .nav-right:after {
        height: 2px;
        top: 40%
    }

    .nav-right li {
        font-size: .875em
    }

    .sidebar-wrapper {
        padding-top: 3.75em;
        padding-top: 1.875em;
        margin-bottom: -1.875em;
        position: relative
    }

    .home .sidebar-wrapper {
        padding-top: 3.75em
    }

    .sidebar {
        position: static;
        width: 100%;
        height: auto;
        display: block;
        padding-top: 0;
        padding-bottom: 0
    }

    .sidebar ul {
        display: block
    }

    .sidebar ul li {
        width: 50%;
        float: left;
        font-size: .875em;
        margin-bottom: 1.78571em
    }

    .sidebar ul li:nth-of-type(2n+1) {
        clear: left
    }

    .sidebar ul li a.filter:before,.sidebar ul li a.filter:after {
        opacity: 0
    }

    .sidebar ul li a.filter.active:before,.sidebar ul li a.filter.active:after {
        opacity: 0
    }

    .sidebar ul li.menu-item {
        display: none
    }

    .menu-trigger {
        display: block
    }

    .filters-mobile {
        display: block;
        padding-top: 5.8em
    }

    .filters-mobile-link {
      width: 30px;
      height: 20px;
      left: 1.25em;
      top: 30px;
      position: absolute;
    }

    .filters-mobile-link .line {
        height: 2px;
        background: #000
    }

    .filters-mobile-link .line:before {
        content: "";
        position: absolute;
        top: 50%;
        width: 8px;
        height: 8px;
        border: 2px solid #000;
        border-radius: 50%;
        background: #fff;
        margin-top: -4px;
        transition: 0.3s
    }

    .filters-mobile-link .line:first-of-type {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%
    }

    .filters-mobile-link .line:first-of-type:before {
        left: 0
    }

    .filters-mobile-link .line:last-of-type {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%
    }

    .filters-mobile-link .line:last-of-type:before {
        right: 0
    }

    .filters-mobile-link.active .line:first-of-type:before {
        -ms-transform: translateX(137.5%);
        transform: translateX(137.5%)
    }

    .filters-mobile-link.active .line:last-of-type:before {
        -ms-transform: translateX(-137.5%);
        transform: translateX(-137.5%)
    }

    .sidebar {
        display: none;
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
        transition: all 0s 0s, transform 0.3s 0s, opacity 0.5s 0s
    }

    .sidebar.open {
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
        font-size: 0.8em;
    }
}

.archives-container .container-inner-wrapper {
    padding-left: 0
}

.archive-item,.career-item {
    margin-bottom: 2.0625em;
    display: block;
    text-decoration: none;
    color: #000
}

.archive-item h3,.career-item h3 {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    color: #000000;
    margin-bottom: .625em;
    margin-bottom: .3125em;
    text-transform: uppercase
}

.archive-item h2,.career-item h2 {
    margin: 0;
    font-size: 1.5em;
    font-size: 1.25em;
    line-height: 1.45em;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: lowercase
}

.year-wrapper {
    position: relative
}

.year-wrapper .year {
    position: absolute;
    top: -.2em;
    right: 100%;
    padding-right: 8em;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1em
}

.year-wrapper .year:after {
    content: "";
    width: 4.85em;
    height: 4px;
    background: #000;
    position: absolute;
    right: 2em;
    top: 50%;
    margin-top: -2px
}

@media screen and (max-width: 640px) {
    .year-wrapper {
        padding-left:3.75em
    }

    .year-wrapper:not(:last-of-type) {
        margin-bottom: 3.125em
    }

    .year-wrapper .year {
        right: auto;
        left: 0;
        bottom: 100%;
        margin-bottom: -.35714em;
        top: auto;
        font-size: .875em;
        padding-bottom: 1.07143em;
        padding-right: 0
    }

    .year-wrapper .year:after {
        right: auto;
        left: 0;
        top: 100%;
        height: 2px;
        width: 3.57143em
    }

    .archive-item,.career-item {
        margin-bottom: 1.5625em
    }

    .archive-item h3,.career-item h3 {
        font-size: .75em;
        line-height: 1.16667em;
        margin-bottom: .41667em
    }

    .archive-item h2,.career-item h2 {
        font-size: .875em
    }
}

.contacts-container .content {
    width: 54.8125em;
    max-width: 90%;
    margin-left: auto
}

.contacts-container .map-wrapper {
    display: block;
    position: relative
}

.contacts-container .map-wrapper:after {
    content: "";
    display: block;
    padding-top: 46%
}

.contacts-container .map-wrapper .map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.contacts-container .text-content {
    margin-top: 1.94444em;
    font-size: 1.125em
}

.contacts-container .text-content h4 {
    margin: 0;
    font-size: 1.11111em;
    line-height: 2.11111em
}

.contacts-container .text-content p {
    margin: 0;
    padding: 0;
    line-height: 2.11111em
}

.contacts-container .text-content a {
    color: inherit;
    text-decoration: none
}

.contacts-container .text-content a:hover {
    text-decoration: underline
}

.contacts-container .text-content .column {
    padding-right: .625em
}

.contacts-container .social-links {
    text-align: right
}

.social-links {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap
}

.social-links li {
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    vertical-align: top
}

.social-links li:not(:last-of-type) {
    margin-right: 1.5em
}

.social-links li a {
    display: block;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 0px 2px #414241;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    transition: 0.3s;
    color: #414241
}

.social-links li a i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.25em;
    transition: 0.3s;
    color: #414241
}

.social-links li a:hover {
    box-shadow: inset 0px 0px 0px 1.875em #414241
}

.social-links li a:hover i:before {
    color: #fff
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .contacts-container .text-content {
        margin-top:0
    }

    .contacts-container .text-content .column {
        margin-top: 1.875em
    }

    .contacts-container .social-links {
        text-align: left
    }

    .contacts-container .social-links li:not(:last-of-type) {
        margin-right: .9375em
    }
}

@media screen and (max-width: 640px) {
    .contacts-container .content {
        max-width:100%
    }

    .contacts-container .text-content {
        font-size: 16px;
        padding-left: 30%;
        padding-left: 3.75em;
        padding-bottom: 1.875em;
        margin-top: 0
    }

    .contacts-container .text-content h4 {
        font-size: .875em;
        line-height: 2em
    }

    .contacts-container .text-content p {
        font-size: .875em;
        line-height: 2em
    }

    .contacts-container .text-content>.column {
        padding-top: 0;
        margin-top: 2.8125em;
        position: relative
    }

    .contacts-container .text-content>.column:after {
        content: "";
        position: absolute;
        right: 100%;
        margin-right: .625em;
        top: .75em;
        height: 2px;
        background: #000;
        width: 3.125em
    }

    .contacts-container .text-content>.column:last-of-type {
        display: none
    }
}

@media screen and (min-width: 480px) and (max-width: 640px) {
    .contacts-container .text-content {
        font-size:22px
    }
}

.team-member-wrapper {
    width: 20%;
    float: left;
    padding: 0 1.875em 2.8125em 1.875em
}

.team-member {
    position: relative;
    display: block;
    text-decoration: none;
    color: #000
}

.team-member:after {
    content: "";
    display: block;
    padding-top: 100%
}

.team-member img {
    position: absolute;
    top: 0;
    width: 100%;
    transition: 0.3s;
    border-radius: 50%;
    overflow: hidden
}

.team-member .content-wrapper {
    position: absolute;
    top: -12.5%;
    left: -12.5%;
    width: 125%;
    height: 125%;
    background: #fff;
    border-radius: 50%;
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    transition: 0.3s
}

.team-member .content-wrapper .content-outter-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center
}

.team-member .content-wrapper .content-inner-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.team-member .content-wrapper h2 {
    font-size: 1.375em;
    margin: 0;
    line-height: 1em
}

.team-member .content-wrapper p {
    line-height: 1.2em;
    margin: 0;
    font-size: .9375em;
    margin-top: .93333em;
    text-transform: uppercase
}

.team-member:hover {
    z-index: 2
}

.team-member:hover img {
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0
}

.team-member:hover .content-wrapper {
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .team-member-wrapper {
        width:25%;
        padding: 0 1.5625em 2.5em 1.5625em
    }

    .team-member-wrapper.touched {
        z-index: 2
    }

    .team-member-wrapper.touched img {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0
    }

    .team-member-wrapper.touched .content-wrapper {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    .team-member-wrapper.touched:hover {
        z-index: 2
    }

    .team-member-wrapper.touched:hover img {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0
    }

    .team-member-wrapper.touched:hover .content-wrapper {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    .team-member-wrapper:hover {
        z-index: 1
    }

    .team-member-wrapper:hover img {
        -ms-transform: none;
        transform: none;
        opacity: 1
    }

    .team-member-wrapper:hover .content-wrapper {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0
    }

    .team-member .content-wrapper h2 {
        font-size: 1.125em;
        line-height: .94444em
    }

    .team-member .content-wrapper p {
        font-size: .75em;
        line-height: 1.16667em;
        margin-top: .33333em
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .team-member-wrapper {
        width:33.33%;
        padding: 0 1.5625em 2.5em 1.5625em
    }

    .team-member-wrapper.touched {
        z-index: 2
    }

    .team-member-wrapper.touched img {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0
    }

    .team-member-wrapper.touched .content-wrapper {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    .team-member-wrapper.touched:hover {
        z-index: 2
    }

    .team-member-wrapper.touched:hover img {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0
    }

    .team-member-wrapper.touched:hover .content-wrapper {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    .team-member-wrapper:hover {
        z-index: 1
    }

    .team-member-wrapper:hover img {
        -ms-transform: none;
        transform: none;
        opacity: 1
    }

    .team-member-wrapper:hover .content-wrapper {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0
    }

    .team-member .content-wrapper h2 {
        font-size: 1.125em;
        line-height: .94444em
    }

    .team-member .content-wrapper p {
        font-size: .75em;
        line-height: 1.16667em;
        margin-top: .33333em
    }
}

@media screen and (max-width: 640px) {
    .team-member-wrapper {
        width:50%;
        padding: 0 1.5625em 2.5em 1.5625em
    }

    .team-member-wrapper.touched {
        z-index: 2
    }

    .team-member-wrapper.touched img {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0
    }

    .team-member-wrapper.touched .content-wrapper {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    .team-member-wrapper.touched:hover {
        z-index: 2
    }

    .team-member-wrapper.touched:hover img {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0
    }

    .team-member-wrapper.touched:hover .content-wrapper {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    .team-member-wrapper:hover {
        z-index: 1
    }

    .team-member-wrapper:hover img {
        -ms-transform: none;
        transform: none;
        opacity: 1
    }

    .team-member-wrapper:hover .content-wrapper {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0
    }

    .team-member .content-wrapper h2 {
        font-size: .875em;
        line-height: 1.21429em
    }

    .team-member .content-wrapper p {
        font-size: .625em;
        line-height: 1.4em;
        margin-top: .4em
    }

    .container.team-container {
        max-width: 100%
    }

    .container.team-container .container-inner-wrapper {
        padding-left: 5%;
        padding-right: 5%;
        margin-left: -1.5625em;
        margin-right: -1.5625em
    }
}

.single-page-container .container-inner-wrapper {
    padding-left: 0;
    padding-top: 11.5625em
}

.single-page-container .text-content {
    font-size: 1.125em;
    line-height: 1.05556em;
    padding-right: 25%
}

.single-page-container .text-content h2 {
    font-size: 16px;
    line-height: 1.1875em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: .9375em
}

.single-page-container .text-content h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 1.66667em;
    text-transform: lowercase
}

.single-page-container .text-content p {
    margin-top: 0
}

.single-page-container .text-content a {
    color: inherit
}

.single-page-container .text-content .read-more-link {
    display: none
}

.single-page-container .text-content .download-link {
    margin-top: 1.11111em
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .single-page-container .text-content {
        padding-right:10%
    }
}

@media screen and (max-width: 640px) {
    .single-page-container .text-content {
        padding-right:0;
        font-size: .875em;
        line-height: 1.42857em
    }

    .single-page-container .text-content h2 {
        font-size: .85714em;
        line-height: 1.58333em;
        margin-bottom: 0
    }

    .single-page-container .text-content h1 {
        font-size: 1em;
        line-height: 1.21429em;
        margin-bottom: 1.21429em
    }

    .single-page-container .text-content .additional-text .inner-wrapper {
        display: none
    }

    .single-page-container .text-content .additional-text .read-more-link {
        font-size: 1em;
        display: block
    }

    .single-page-container .container-inner-wrapper {
        padding-top: 1.25em;
        padding-bottom: .625em
    }
}

footer {
    padding: 4.375em 0 3.4375em 0;
    padding-bottom: 1.875em;
    padding-top: 1.875em;
    height: 5em;
    width: 100%;
    position: relative;
    z-index: 2
}

footer .footer-inner-wrapper {
    padding-left: 15%
}

footer p {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 1.25em;
    margin: 0;
    line-height: 1em
}

footer a {
    text-decoration: none;
    color: #000
}

footer .social-links {
    display: none
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    footer .contact-link {
        display:none
    }

    footer p {
        display: inline-block;
        font-size: .875em;
        line-height: 1.42857em;
        display: -ms-flexbox;
        display: flex;
        width: 100%
    }
}

@media screen and (max-width: 640px) {
    footer {
        position:static
    }

    footer .footer-inner-wrapper {
        padding-left: 0;
        display: table;
        display: -ms-flexbox;
        display: flex
    }

    footer .contact-link {
        display: none
    }

    footer p {
        display: inline-block;
        font-size: .875em;
        line-height: 1.42857em;
        display: -ms-flexbox;
        display: flex;
        width: 100%
    }

    footer span,footer strong {
        display: none
    }

    footer a:not(:first-of-type) {
        margin-right: auto;
        margin-left: auto
    }

    footer .social-links {
        display: table-cell;
        vertical-align: top;
        display: -ms-flexbox;
        display: flex;
        margin-left: auto;
        line-height: 1.25em
    }

    footer .social-links li {
        width: 1.25em;
        height: 1.25em
    }

    footer .social-links li:not(:last-of-type) {
        margin-right: 1.125em
    }

    footer .social-links li a {
        box-shadow: inset 0px 0px 0px 1px #414241
    }

    footer .social-links li a i:before {
        font-size: .75em
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    html,body {
        font-size:16px
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    html,body {
        font-size:14px
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .project-item {
        width:33.33%
    }

    .container-inner-wrapper {
        padding-left: 20%
    }
}

@media screen and (max-width: 640px) {
    html,body {
        font-size: 1.1em;
    }

    .container-inner-wrapper {
        padding-left: 0;
        padding-top: 2.25em;
        padding-bottom: 0;
        transition: 0.7s
    }

    body.menu-open .container-inner-wrapper {
        -ms-transform: translateY(200px);
        transform: translateY(200px)
    }

    .project-item {
        width: 50%
    }

    .project-item .inner-wrapper {
        padding: 1em
    }

    .project-item .project-name {
        display: none
    }

    .project-item.archives-link .inner-wrapper:before,.project-item.archives-link .inner-wrapper:after {
        width: 1.875em;
        margin-left: -.9375em;
        height: 2px
    }

    .projects-grid {
        margin-left: -1em;
        margin-right: -1em
    }
}

@media screen and (min-width: 480px) and (max-width: 640px) {
    html,body {
        font-size:22px
    }
}

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle='toc'] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /*
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
  */
}



.group {
    background: yellow;
    width: 200px;
    height: 500px;
}
.group .subgroup {
    background: orange;
    width: 150px;
    height: 200px;
}
.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .div>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .div .div>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .div>.active>a,
.bs-docs-sidebar .div>li>a:hover,
.bs-docs-sidebar .div>li>a:focus {
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #563d7c;
}
/* all active links */
.bs-docs-sidebar .div>.active>a,
.bs-docs-sidebar .div>.active:hover>a,
.bs-docs-sidebar .div>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .div .div>.active>a,
.bs-docs-sidebar .div .div>.active:hover>a,
.bs-docs-sidebar .div .div>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .div ul.div {
    display: none;
}
/* show active nested list */
.bs-docs-sidebar .div>.active>ul.div {
    display: block;
}

th {
    text-align: left;
}
table {
    max-width: 90%;
    margin-bottom: 20px;
    border: 1px solid #dedede;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-transform: none;
    background-color: #777;
    color: white;
    text-align: left;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

table tr td {
    hyphens: auto;
    font-size: 0.7em;
}

code {
  font-size: 0.9em;
}

p code {
  color: #ce272d;
  background-color: #efefef;
}
