<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
<body class="home blog">
  {% include header_title-navbar.html %}
  {% include partial_sidebar-mobile-tags-info.html %}
  <!-- TODO: Content has to be completely split up here. Look, I need to find a neat way to be able to include things like left/right sidebars more easily when changing elements of the site. -->
  <div id="content" class="site-content">
  	<div id="primary" class="content-area">
  		<main id="main" class="site-main">
        {% include posts-container.html %}
      </main>
    </div>
  </div>
  {% include foot_copyright-sm.html %}
  {% include mobile-filter.html %}
  {% include scripts.html%}
</body>
</html>
