<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}

<body class="home blog" data-spy="scroll" data-target="#toc">
  {% include navbar.html %}
  {% include mobile-filter.html %}
  {% include post-content.html %}
  <script>

   anchors.options.visible = 'always';
   anchors.add('#post h1, #post h2, #post h3');

   generateTableOfContents(anchors.elements);

   function generateTableOfContents(els) {
   	var anchoredElText,
     		anchoredElHref,
   			ul = document.createElement('UL');

     document.getElementById('toc').appendChild(ul);

   	for (var i = 0; i < els.length; i++) {
     	anchoredElText = els[i].textContent;
   		anchoredElHref = els[i].querySelector('.anchorjs-link').getAttribute('href');
     	addNavItem(ul, anchoredElHref, anchoredElText);
     }
   }

   function addNavItem(ul, href, text) {
     var listItem = document.createElement('LI'),
   		  anchorItem = document.createElement('A'),
     	  textNode = document.createTextNode(text);

     anchorItem.href = href;
     ul.appendChild(listItem);
     listItem.appendChild(anchorItem);
     anchorItem.appendChild(textNode);
   }
  </script>
  {% include scripts.html %}
</body>

</html>
